@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
  }
}

@layer components {
  .photo-grid {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 640px) {
    .photo-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1024px) {
    .photo-grid {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}
